body{
    font-family: 'Inconsolata', 'Times New Roman';
    margin: 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 4, 4);
    cursor: none;
}

a {
    text-decoration: none;
    color: rgb(5, 22, 38);
    cursor: none;
    padding: 3%;
}

a.anchor {
    display: block;
    height: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -8vh;
    visibility: hidden;
}

nav {
    position: fixed;
    width: 100%;
    max-height: 8vh;

    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(228, 246, 255, 0.95);
    margin: 0px;

}

#topleft {
    width: 50%;
    align-self: center;
}

#navlinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#buffer {
    height: 8vh;
}

#backgroundanimation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 50%;
}

#content{
    margin: 2%;
}

#space {
    height: 100vh;
}

#socialsection {
    display: grid;
    grid-template-columns: auto auto auto;

    

}

#social {
    justify-self: left;
    align-self: center;
    text-align: center;


}