.Art{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    padding: 5%;
    padding-right: 10%;
    display: block;
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}
.Ueberschrift{
    font-weight: bold;
    margin-bottom: 2%;
}
.Preview{
    margin-bottom: 1%;
}
.Datum{
    font-weight: lighter;
}
body{
    background-color: rgba(127, 255, 212, 0.26);
}

nav{
    background-color: rgba(127, 255, 212, 0.473);
    margin-bottom: 1%;
}

footer{
    margin-bottom: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

.content{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0.5%;
    padding: 5%;
    padding-right: 10%;
    line-height: 40px;
    font-size: large;
}
